# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/

# Virtual envs
.venv/
venv/

# VCS
.git/
.gitignore

# OS/Editor
.DS_Store
.vscode/
.idea/

# Build artifacts
build/
dist/
*.log

# Local only
.azure/
.pytest_cache/
